<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.springbootsecurity.mapper.PermissionMapper">

	<select id="getPermissionsByUserId" parameterType="java.lang.Integer" resultType="com.yl.springbootsecurity.entity.Permission">
		select
			a.* from permission a
			left join role_permission_ref b on a.id = b.permission_id
			left join role c on b.role_id = c.id
			left join user_role_ref d on d.role_id = c.id
			left join user f on f.id = d.user_id
			where f.id = #{userId}
	</select>

	<select id="selectListByPath" parameterType="java.lang.String" resultType="com.yl.springbootsecurity.entity.Permission">
		select a. *
			from permission a
			left join permission_menu_ref b on a.id = b.permission_id
			left join menu c on b.menu_id = c.id
			where c.url = #{path}
	</select>
</mapper>